body {
  background: url("Background.jpg") no-repeat center center fixed;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
}

div {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  opacity: 0.6;
  width: 25vw;
  height: auto;
  margin: 2em 20em;
}

header {
  /* font-size: 1em; */
}

#time {
  font-size: 4em;
  margin: 0;
}

#date {
  font-size: 2em;
}
